.body {
	text-align: center;
	background-color: rgb(239, 249, 252);
	color: #aa7c36;
}
.recipe {
	background-color: #fde6c4;
	border-radius: 30px;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 15px;
	margin-left: 75px;
	margin-right: 75px;
}
li {
	margin-left: 50px;
	margin-top: 5px;
	color: hsl(210, 22%, 49%);

}
#ingredients {
	margin-left: 300px;
	text-decoration: underline;
	
}

#change {
	margin-left: 100px;
}
#process {
	margin-left: 325px;
	text-decoration: underline;
}
h1 {
	font-family: roboto;
}
img {
	border-style: dotted;
	border-width: 3px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#finishedrecipelook {
	height: 300px;
	width: 300px;
	text-align: center;
}
#finished {
	text-align: center;
	font-family: "Roboto Condensed", sans-serif;
}
figcaption{
	font-size: larger;
	font-weight: bolder;
	font-style: italic;
}
